<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.ChartMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.Chart">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goal" column="goal" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="chartType" column="chartType" jdbcType="VARCHAR"/>
            <result property="genChart" column="genChart" jdbcType="VARCHAR"/>
            <result property="genResult" column="genResult" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,goal,chartData,
        chartType,genChart,genResult,userId,
        createTime,updateTime,isDelete
    </sql>
    <update id="createTable" parameterType="string">
        ${sql}
    </update>
    <delete id="dropTable" parameterType="long">
        DROP TABLE IF EXISTS chart_${chartId}
    </delete>

<!--    根据chartId获取chart数据-->
    <select id="getDataByChartId" parameterType="long" resultType="map">
        select * from chart_${chartId}
    </select>

<!--    批量插入csv数据-->
    <insert id="batchInsert">
        INSERT INTO chart_${chartId}
        (<foreach collection="headers" item="h" separator=",">${h}</foreach>)
        VALUES
        <foreach collection="rows" item="row" separator=",">
            (
            <foreach collection="row" item="val" separator=",">#{val}</foreach>
            )
        </foreach>
    </insert>
</mapper>
